In [1]:
import pandas as pd
import numpy as np

In [6]:
country = ['Inda', 'Pakistan', 'Nepal', 'Bhutan']
series = pd.Series(country)
print(series)

0        Inda
1    Pakistan
2       Nepal
3      Bhutan
dtype: object

In [25]:
import time
import random
start = time.time()
random_things = list(random.randint(1, 100) for i in range(10000))
series = pd.Series(random_things)
print(series)
print(time.time() - start)

0       91
1       62
2       67
3        3
4       22
        ..
9995    62
9996    89
9997    82
9998    49
9999    90
Length: 10000, dtype: int64
0.021898984909057617

In [24]:
import time
start = time.time()
random_things = np.random.randint(1,100,10000)
series = pd.Series(random_things)
print(series)
print(time.time() - start)

0       78
1       96
2       11
3       32
4       25
        ..
9995    53
9996    62
9997    39
9998    78
9999    63
Length: 10000, dtype: int32
0.0025370121002197266

In [60]:
runs = np.array([12,24,23,32,78], dtype=np.uint8)
runs_series = pd.Series(runs)

In [34]:
marks = [76,54,89,28,92]
subjects = ['maths', 'english', 'science', 'hindi', 'sanskrit']

pd.Series(marks,index=subjects)

maths       76
english     54
science     89
hindi       28
sanskrit    92
dtype: int64

In [38]:
# setting up a name
marks = pd.Series(marks, index=subjects, name='Nitish ke marks')
print(marks)

maths       76
english     54
science     89
hindi       28
sanskrit    92
Name: Nitish ke marks, dtype: int64

In [46]:
marks = {
  'marks': 76,
  'english': 54,
  'science': 89,
  'hindi': 28,
  'sanskrit': 92
}

marks_series = pd.Series(marks, name='Nitish ke marks')
print(marks_series)

marks       76
english     54
science     89
hindi       28
sanskrit    92
Name: Nitish ke marks, dtype: int64

In [51]:
# accessing atttributes
print(marks_series.dtype)
print(marks_series.name)

int64
Nitish ke marks

In [58]:
# is_unique
print(marks_series.is_unique)

print(pd.Series(np.array([1,1,2,3,4,5])).is_unique)

True
False

In [63]:
# Index
print(marks_series.index)

Index(['marks', 'english', 'science', 'hindi', 'sanskrit'], dtype='object')

In [66]:
print(runs_series.index)
print(type(runs_series.index))

RangeIndex(start=0, stop=5, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

In [69]:
# Values
print(marks_series.values)
print(type(marks_series.values))

[76 54 89 28 92]
<class 'numpy.ndarray'>

In [ ]:
# Creating a series using real world data set